# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env.bak/

# IDE files
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Other
.DS_Store

# Custom Playground Files
playground*